@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap');

* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@import url('style.css');

/*base para página */
body {
  margin: 0;
  padding: 0;
  background-color: #0b0c2e;
  /* preto azulado */
  font-family: Arial, sans-serif;
  color: white;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6)), url('imagens/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33A8DB80;
  text-align: center;
}

/* Estilo de texto com gradiente */
h1 {
  font-size: 2.5em;
  background: linear-gradient(to right, #00f0ff, #005aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin-bottom: 20px;
   text-transform: uppercase;
}

p {
  font-size: 1em;
  max-width: 600px;
  margin: 0 auto 20px;
}

/* Botão básico */
button {
  padding: 10px 25px;
  font-size: 1em;
  background-color: #00f0ff;
  border: none;
  border-radius: 8px;
  color: #0b0c2e;
  cursor: pointer;
}

/* Conteúdo do curso*/
#course-content {
  padding: 40px 5%;
  text-align: center;

}

#course-content p {
  text-align: center;

}

#course-content h2 {
  font-size: 2em;
  color: #00f0ff;
  align-items: center;
  margin-bottom: 20px;
}

.modules-list {
  margin-top: 20px;
}

.module {
  background-color: #0e1a2b;
  width: 50%;
  padding: 10px;
  margin: 20px auto;
  border-radius: 2em;
  border: 2px solid #005aff;
  font-size: 1em;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.module span {
  color: #44a2e0;
  text-shadow: 1px 1px 3px #000;
}

#transform-world h3 {
  font-size: 2em;
  text-align: left;
  margin: 60px 0;
  background: linear-gradient(to right, #00f0ff, #005aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  transition: all 0.35 ease;
}

#transform-world {
  background-image: url('imagens/celular.png');
  /* caminho da imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;/* mantém a imagem fixa */
  padding: 150px 0;
  text-align: center;
}

#transform-world h3:hover {
  text-shadow: 2px 2px 5px rgb(20, 20, 214);
}

/* Desafios profissionais */
#professional-challenges {
  padding: 40px 5%;
  text-align: center;
}

#professional-challenges h2 {
  font-size: 2em;
  color: #00f0ff;
  text-transform: uppercase;
}

#professional-challenges img {
  max-width: 100%;
  margin: 20px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
  border-top: 1px solid #33A8DB80;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}